:root{
    --primary-color:#fff;
    --accent-color:#e4bb7d;
    --black-color:#000;
    --gray-color:#eeeded;
    --link-color:#e4bb7dc9;
    --dark-gray:#474747;
    --dark-accent:#978667;
    --white:#f4f2f258;
    --row-hover:#f4ede26f;
    --white-gray:#eeeded;
    --border-color:#e5e5e9;
    --table-text:#000;
   
}


.dark{
  --primary-color:#22282e;
  --black-color:#fff;
  --border-color:#474755;
  --table-text:#bab8b8;
  --link-color:#f9ba3195;
  --accent-color:#f9b931;
  --row-hover:#73aeee29;
  --gray-color:#22282ee3;
  --white-gray:#373b3ef0;
}




body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary-color);
}


.edit-button{
  @apply flex  gap-1 justify-center items-center px-6 py-2 lg:min-w-[80px] min-w-[120px] rounded text-white  bg-blue-400 hover:bg-blue-500 transition-all duration-300 ease-in-out 
}


.delete-button{
  @apply flex gap-1 justify-center mt-5 lg:mt-0 items-center px-6 py-2 lg:min-w-[80px] min-w-[120px]  rounded text-white  bg-red-400 hover:bg-red-500 transition-all duration-300 ease-in-out
}


.submit-button{
  @apply w-[200px] after:bg-[#d0a668] dark:after:bg-[#eda95b] dark:before:bg-[#eda95b] before:bg-[#d0a668] mt-5 z-0 overflow-hidden text-white flex justify-center items-center bg-accent button-reverse p-3
}

.button-reverse{
  position: relative;
}

.button-reverse:hover::before,
.button-reverse:hover::after {
    transform: translateX(0);
  }

.button-reverse::before,
.button-reverse::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.4s ease-out;
  }

  .button-reverse::before {
    transform: translateX(100%);
  }

  .button-reverse::after {
    transform: translateX(-100%);
  }


  /*scroll*/
  ::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background:white; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background:var(--accent-color);
    border-radius: 10px; 
  }
  